<br>
<h1>{{titulo}}</h1>
<hr>

<div class="row animated fadeIn slow" *ngIf="peliculas">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-12 div-pic-1 puntero" [routerLink]="['/pelicula', peliculas.results[0].id, 'home']" [ngStyle]="{'background-image': 'url('+ (peliculas.results[0] | peliculaImagen) +')'}">
                <p class="pic-titulo">{{peliculas.results[0].original_title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 div-pic-2 puntero" [routerLink]="['/pelicula', peliculas.results[1].id, 'home']" [ngStyle]="{'background-image': 'url('+ (peliculas.results[1] | peliculaImagen) +')'}">
                <p class="pic-titulo">{{peliculas.results[1].original_title}}</p>
            </div>
            <div class="col-md-6 div-pic-2 puntero" [routerLink]="['/pelicula', peliculas.results[2].id, 'home']" [ngStyle]="{'background-image': 'url('+ (peliculas.results[2] | peliculaImagen) +')'}">
                <p class="pic-titulo">{{peliculas.results[2].original_title}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-6 div-pic-2 puntero" [routerLink]="['/pelicula', peliculas.results[3].id, 'home']" [ngStyle]="{'background-image': 'url('+ (peliculas.results[3] | peliculaImagen) +')'}">
                <p class="pic-titulo">{{peliculas.results[3].original_title}}</p>
            </div>
            <div class="col-md-6 div-pic-2 puntero" [routerLink]="['/pelicula', peliculas.results[4].id, 'home']" [ngStyle]="{'background-image': 'url('+ (peliculas.results[4] | peliculaImagen) +')'}">
                <p class="pic-titulo">{{peliculas.results[4].original_title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 div-pic-1 puntero" [routerLink]="['/pelicula', peliculas.results[5].id, 'home']" [ngStyle]="{'background-image': 'url('+ (peliculas.results[5] | peliculaImagen) +')'}">
                <p class="pic-titulo">{{peliculas.results[5].original_title}}</p>
            </div>
        </div>
    </div>
</div>